# This is the main configuration file for the application.
# https://www.playframework.com/documentation/latest/ConfigFile


mail.username = ""
mail.password = ""
API_KEY = ""
SECRET = ""
play.crypto.secret = ""

ebean.default = ["models.*"]
play.filters.enabled += play.filters.cors.CORSFilter

db.default.driver=com.mysql.jdbc.Driver
db.default.url=""
db.default.username=
db.default.password=

play.evolutions.enabled=true
play.evolutions.db.default.autoApply=true

jpa.default=defaultPersistenceUnit

play.filters.cors {

  allowedOrigins = ["http://localhost:5173"]

  allowedHttpMethods = [
    "GET",
    "POST",
    "PUT",
    "DELETE",
    "OPTIONS"
  ]

  allowedHttpHeaders = [
    "Accept",
    "Origin",
    "Content-Type",
    "Authorization"
  ]

  exposedHeaders = ["Authorization"]

  supportsCredentials = true
}